@inject PcHardware.Services.MyDbContext dbContext;
@inject PcHardware.Repositories.Review.IReviewRepository rev;
@using PcHardware.Models;
@model Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container p-xxl-4 mt-xxl-5">
    <div class="row">
        @* Product Image *@
        <div class="col-md-6 border-right">
            <img src="/ProductsImages/@Model.ImageUrl" class="img-fluid" alt="@Model.Name" />
        </div>

        @* Product Details *@
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <a href="/Category/Products/@Model.CategoryId" class="badge bg-dark">
                @(dbContext.Categories.FirstOrDefault(c => c.Id == Model.CategoryId)?.Name ?? "Unknown Category")
            </a>
            <a href="/Manufacturer/Products/@Model.ManufacturerId" class="badge bg-primary">
                @(dbContext.Manufactureres.FirstOrDefault(m => m.Id == Model.ManufacturerId)?.Name ?? "Unknown Manufacturer")
            </a>
            <p>@Html.Raw(@Model.Description)</p>

            <h3 class="text-success">@Model.Price.ToString("C")</h3>
            <p class="text-muted">Availability: @(Model.StockQuantity > 0 ? "In Stock" : "Out of Stock")</p>

            <div class="d-flex justify-content-between align-items-end">
                @* Add to Cart Form *@
                <form method="post" action="/Cart/AddCartItem">
                    <input type="hidden" name="ProductId" value="@Model.Id" />
                    <div class="form-group mb-3">
                        <label for="Quantity" class="form-label">Quantity</label>
                        <input type="number" id="Quantity" name="Quantity" class="form-control" min="1" max="@Model.StockQuantity" placeholder="Quantity" required />
                    </div>
                    <button type="submit" class="btn btn-primary" @(Model.StockQuantity > 0 ? "" : "disabled")><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                </form>

                @* Add to Wishlist Form *@
                <form method="post" action="/Wishlist/AddItem">
                    <input type="hidden" name="ProductId" value="@Model.Id" />
                    <button type="submit" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><i class="fa-solid fa-star"></i></button>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-2"/>
    
    <div class="row">
        <h2>Reviews</h2>
        @{
            foreach (var r in rev.GetProductReviews(Model.Id))
            {
                var user = dbContext.Users.FirstOrDefault(u => u.Id == r.UserId);
                <p>@(user.Email) says @r.Comment with rating @r.Rating</p>
            }
        }
    </div>

    <hr class="my-2" />

    <div class="row">
        <h2>Write review</h2>
        
        <form action="/User/CreateReview" method="post">
            <div class="form-group">
                <label class="form-label">Rating 1 - 5</label>
                <select name="Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="form-label">Comment</label>
                <input name="Comment" type="text" class="form-control" />
            </div>

            <input type="hidden" value="@Model.Id" name="ProductId" />

            <br />

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>