@using PcHardware.Models;
@model Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<form enctype="multipart/form-data" method="post">
    @*Product Name*@
    <div class="form-group">
        <label class="form-label">Product Name</label>
        <input name="Name" class="form-control" type="text" value="@Model.Name" />
    </div>

    @*Product Description*@
    <div class="form-group">
        <label class="form-label">Product Description</label>
        <input name="Description" class="form-control" type="text" value="@Model.Description" />
    </div>

    @*Product Quantity*@
    <div class="form-group">
        <label class="form-label">Stock Quantity</label>
        <input name="StockQuantity" class="form-control" type="number" value="@Model.StockQuantity" />
    </div>

    @*Product Price*@
    <div class="form-group">
        <label class="form-label">Product Price</label>
        <input name="Price" class="form-control" type="number" value="@Model.Price" />
    </div>

    @*Product Image*@
    <div class="form-group">
        <label class="form-label">Product Image</label>

        <div class="mb-3">
            <img src="/ProductsImages/@Model.ImageUrl" alt="Product Image" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
        </div>

        @* File input for uploading a new image *@
        <input name="ImageUrl" class="form-control" type="file" />
    </div>

    <div class="form-group row">
        @*Product Category*@
        <div class="col">
            <label class="form-label">Product Category</label>
            <select class="form-control" name="CategoryId">
                @{
                    foreach (var c in ViewBag.Categories)
                    {
                        <option value="@c.Value" @(Model.CategoryId == int.Parse(c.Value) ? "selected" : "")>@c.Text</option>
                    }
                }
            </select>
        </div>

        @*Product Manufacturer*@
        <div class="col">
            <label class="form-label">Product Manufacturer</label>
            <select class="form-control" name="ManufacturerId">
                @{
                    foreach (var m in ViewBag.Manufactureres)
                    {
                        <option value="@m.Value" @(Model.ManufacturerId == int.Parse(m.Value) ? "selected" : "")>@m.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Edit</button>
        <a class="btn btn-dark" href="/Product/Manage">Back to list</a>
    </div>
</form>
