@inject PcHardware.Services.MyDbContext dbContext;
@model List<PcHardware.Models.CartItem>
@{
    ViewData["Title"] = "Cart items";
    Layout = "/Pages/Shared/_Layout.cshtml";
    decimal total = 0;
}

<h1>Cart</h1>

<table class="table table-striped table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>Item image</th>
            <th>Item Name</th>
            <th>Item quantity</th>
            <th>PPU</th>
            <th>Total price</th>
            <th>Item Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var ci in Model)
            {
                var p = dbContext.Products.Where(p => p.Id == ci.ProductId).FirstOrDefault();
                <tr>
                    <td>
                        <img src="/ProductsImages/@dbContext.Products.Where(p=>p.Id==ci.ProductId).FirstOrDefault().ImageUrl" width="50"/>
                    </td>
                    <td><a href="/Product/Details/@ci.ProductId">@ci.Product.Name</a></td>
                    <td>@ci.Quantity</td>
                    <td>@p.Price.ToString("C")</td>
                    <td>$@(p.Price * @ci.Quantity)</td>
                    <td>
                        <form method="post" action="/Cart/RemoveCartItem">
                            <input type="hidden" value="@ci.ProductId" name="ProductId" />
                            <input type="hidden" value="@ci.CartId" name="CartId" />
                            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                total += (ci.Quantity * p.Price);
            }
        }
    </tbody>
</table>
<hr />
<p><b>Total : $@total</b></p>
<hr />
<form method="get" action="/Payment/Checkout">
    <button class="btn btn-primary" type="submit">Proceed to checkout</button>
</form>